@import 'utils';

$border-color: #ddd;
$board-size: 400px;
$cell-length: 8;
$cell-border-size: 2px;
$cell-size: $board-size / 8;
$cell-color: #242;
$cell-color-hover: darken($cell-color, 15%);
$cell-color-active: darken($cell-color, 25%);
$cell-color-puttable: lighten($cell-color, 15%);
$stone-border-size: 1px;
$stone-size: $cell-size - 4px - $stone-border-size * 2;
$stone-color-white: #fff;
$stone-color-black: #000;
$stone-border-color: #ddd;

#othello {
  width: 100%;

  #board {
    @include square($board-size);

    display: table;
    margin: 20px auto;
    table-layout: fixed;
    border-top: $cell-border-size solid $border-color;
    border-left: $cell-border-size solid $border-color;

    .row {
      display: table-row;
      height: $cell-size;

      .cell {
        @include square($cell-size);

        position: relative;
        box-sizing: border-box;
        display: table-cell;
        background-color: $cell-color;
        border-right: $cell-border-size solid $border-color;
        border-bottom: $cell-border-size solid $border-color;

        &:hover {
          background-color: $cell-color-hover;
        }

        &:active {
          background-color: $cell-color-active;
        }

        &.is-puttable {
          background-color: $cell-color-puttable;
        }

        &.is-reversible-target {
          background-color: $cell-color-puttable;
        }

        .stone {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }
    }

    .stone {
      @include square($stone-size);

      transition-duration: 0.5s;
      transform-style: preserve-3d;
      transform: rotateZ(90deg);

      .stone-black,
      .stone-white {
        @include circle($stone-size);

        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        border: $cell-border-size solid $stone-border-color;
        transform-origin: center center;
      }

      .stone-black {
        background-color: $stone-color-black;
      }

      .stone-white {
        background-color: $stone-color-white;
        transform: translateZ(-1px) rotateY(180deg);
      }

      &.is-show-white {
        transform: rotateZ(45deg) rotateY(180deg);
      }

      &.is-show-black {
        transform: rotateZ(45deg) rotateY(0deg);
      }
    }
  }
}
